@model ProyectoFinal.Areas.Admin.Models.ViewModels.EditarCategoriaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutAdmin";
}

<div class="admin-card">
    <h2 class="admin-title">Editar Categoría</h2>

    <div class="message message-success">
        Editando: <strong>Pasteles</strong>
    </div>

    <form class="admin-form" method="post" asp-controller="Categorias" asp-action="Editar">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre de la Categoría</label>
            <input asp-for="Nombre" type="text" id="nombre" class="form-input" value="@Model.Nombre" required>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="~/Admin/Categorias/Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>