@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Layout";
}

<h1>Pedido confirmado</h1>

<p>
    ¡Gracias por tu compra!
    Tu número de pedido es:
</p>

<h2>#@ViewBag.PedidoId</h2>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">
    Volver al catálogo
</a>
