<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="admin.css" rel="stylesheet" />
    <title> Pastelería Dulce Admin</title>
</head>
<body>
    <header class="admin-header">
        <nav class="admin-nav">
            <h1 class="admin-logo"><a href="index.html">Pastelería Dulce Admin</a></h1>
            <ul class="admin-menu">
                <li><a href="../index.html">Sitio Principal</a></li>
                <li><a href="index.html">Administrar Categoria</a></li>
                <li><a href="login.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main class="admin-main">
        @RenderBody()
    </main>
</body>
</html>

